.container {
    min-height: 100vh;
    background: linear-gradient(135deg, #090011, #00e095);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .formContainer {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 400px;
  }
  
  .formContent {
    padding: 40px;
  }
  
  .title {
    color: #333;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .subtitle {
    color: #666;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .input:focus {
    border-color: #7000d1;
    box-shadow: 0 0 0 2px rgba(142, 45, 226, 0.2);
    outline: none;
  }
  
  .button {
    width: 100%;
    padding: 12px;
    background-color: #2de2b5;
    color: rgb(20, 0, 0);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #7a1cc5;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
    text-align: left;
  }
  .errorInput {
    border-color: red;
  }